.displayPassenger{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px;
}

#passengerGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.divPassenger{
    border: solid 1px #00f;
    padding-left: 10px;
}

.namePassenger {
    font-size: 25px;
}

.passengerInfo {
    font-size: 18px;
}

.myCard {
    width: 18rem;
    margin-bottom: 20px;
}

div#imageGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}